### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
target/
out/
!**/src/main/**/target/
!**/src/test/**/target/
.idea
*.iws
*.iml
*.ipr

### Временные файлы программы ###
errorFile.txt
log.txt